
svg {
  transition: all .2s ease-in-out;
  width: 30%;
}

svg:hover {
  transform: scale(1.3, 1.3);
}

.nav {
  display: grid;
  width: 100%;
}

.navbar-brand {
  display: grid;
  justify-content: center;
  width: 100%;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
}

#navbarNavDropdown {
  padding-left: 5%;
}

.card-header {
  font-size: x-large;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

#svg-icons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}

/* Media Queries */

@media only screen
  and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar-brand {
      font-size: xx-large;
    }
}
