
svg {
  transition: all .2s ease-in-out;
  width: 30%;
}

svg:hover {
  transform: scale(1.3, 1.3);
}

.navbar-brand {
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  font-size: x-large;
}

.footer {
  margin-left: auto;
  margin-right: auto;
}

#svg-icons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}
